body {
  background: linear-gradient(to bottom, #dcffdb, #d9d9d9);
}

a {
  text-decoration: none;
}

.title {
  margin-top: 3rem;
  margin-bottom: 4rem;
  text-align: center;
}

.get-point {
  display: flex;
  background: rgb(249, 249, 249);
  padding: 2rem;
  overflow: visible;
  align-items: center;
  border-radius: 1rem;
  margin-left: 20rem;
  margin-right: 20rem;
  margin-top: 15;
}

.get-point img {
  width: 3rem;
  height: 3rem;
}

.get-point p {
  margin: 20px;
  font-size: 20px;
}

.collect-point {
  text-align: end;
}

#skill {
  background: #cfcfcf;
  width: 100%;
  padding: 100px 0;
}
.skill-bar {
  font-size: small;
  padding-top: 5px;
  padding-bottom: 5px;
  color: #fff;
}
.skill-box {
  text-align: right;
  width: 100%;
  background-color: white;
}
.poin {
  width: 100%;
  background-color: #77de5d;
  font-size: 18px;
}
.voucher-body {
  display: grid;
  text-align: center;
}
.container-voc {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 12px;
  margin-left: 200px;
  margin-right: 200px;
}
.voucher {
  background-color: #f9f2ed;
  padding: 20px;
  border-radius: 40px;
  margin: 20px;
}

.voucher h2 {
  margin-bottom: 10px;
  font-family: poppins;
  font-weight: bold;
  color: solid black;
}

.voucher p {
  margin-bottom: 20px;
  color: black;
}

.voucher-code {
  background-color: white;
  color: #000000;
  padding: 5px 10px;
  border-radius: 50px;
  font-size: 15px;
  cursor: pointer;
  font-family: poppins;
  box-shadow: 2px 3px rgb(54, 54, 54);
  border: none;
  cursor: pointer;
}

.voucher-code:hover {
  background-color: #77de5d;
  color: white;
}
.button-bingung {
  background-color: #77de5d;
  box-shadow: 2px 3px rgb(54, 54, 54);
  text-align: center;
  margin-left: 75%;
  margin-right: 15px;
  /* margin-bottom: 70px; */
  margin-top: 35px;
  border-radius: 35px;
  position: relative;
  margin-bottom: 10px;
}